/* Resume14.css */

/* A4 Size Layout */
@page {
    size: A4;
    margin: 20mm;
}

.resume-container {
    margin: 10;
    padding: 10;
    width: 210mm;
    height: 297mm;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #232323;
    line-height: 1.6;
    background-color: #fff;
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #333;
}

p, li {
    margin-bottom: 5px;
}

ul {
    padding-left: 20px;
    margin: 0;
}

hr {
    border: 0.5px solid #ddd;
    margin: 10px 0;
}

/* Layout Containers */
.profile14-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile14-section h3 {
    font-size: 24px;
    font-weight: bold;
}

.profile14-section p {
    font-size: 14px;
    color: #777;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.location, .contact-info {
    font-size: 14px;
}

.social-links a {
    margin-right: 10px;
    color: #0073b1; /* LinkedIn color */
    text-decoration: none;
    font-size: 14px;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Resume Details */
.Resume14-detailscontainer {
    display: flex;
    justify-content: space-between;
}

.Resume14-leftcontainer, .Resume14-rightcontainer {
    width: 48%;
    vertical-align: top;
}

.education-item, .experience-item {
    margin-bottom: 15px;
}

.skill-item {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    display: inline-block;
}

/* Declaration Section */
h2 {
    margin-top: 20px;
    color: #2b2b2b;
}

@media print {
    body {
        width: 210mm;
        height: 297mm;
    }
}
